/*****GENERAL STYLING****/

body{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  
}
.thiccDiv{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  /* background: black; */
  transform-style: preserve-3d; 
  perspective: 800px
}
/*******SKY STYLING*******/

.retroSky{
  height:100%;
  width: 100%;
  background: linear-gradient(#10001f 15%, rgb(255, 60, 0) 80%, rgb(218, 103, 26) 60%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun{
  height: 500px;
  width:500px;
  position: absolute;
  margin-bottom: 15%;
  background-color: rgb(231, 41, 7);
  transform: translatey(-200px);
  border-radius: 100%;
  box-shadow: 0px 0px 150px darkorange, inset -10px -10px 160px yellow, inset 20px 20px 170px white;
  animation: sunglow 4s ease-out infinite alternate;
  will-change: box-shadow;
}

/*******GENERAL GROUND STYLING******/
.ground{
  height: 1000%;
  width: 50%;
  background: linear-gradient(#0e1247, #10001f 95%);
  transform-style: preserve-3d;
  transform: rotateX(79deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid{
  height: 100%;
  width: 30%;
  position: absolute;
  transform-style: preserve-3d;
  will-change: transform;
  animation: aboveGrid 2.5s linear infinite;
}


/*****ABOVE GRID STYLING******/
/*****VERTICAL LINE GRID STYLING*****/
.vertical{
  transform: translateZ(50px);
  position: absolute;
  height: 100%;
  width: 100%
}
.verticalLine{
  height: 100%;
  width: 6px;
  background-color: rgb(190, 0, 127);
  will-change: transform;
  position: absolute;
  opacity: 0.5;
}

.vl1{
  margin-left: 0%;
}

.vl2{
  margin-left: 20%;
}

.vl3{
  margin-left: 40%;
}

.vl4{
  margin-left: 60%;
}

.vl5{
  margin-left: 80%;
}

.vl6{
  margin-left: 100%;
}

/*****HORIZONTAL LINE GRID STYLING****/




.horizontal{ 
  height: 100%;
  width: 100%;
  transform: translateZ(50px);
}

.horizontalLine{
  height: 6px;
  width: 100%;
  background-color: rgb(190, 0, 127);
  will-change: transform;
  margin-top: 50%;
  opacity: 0.5;
}




/******UNDERGRIDSTYLING*****/

.underGrid{
  height: 100%;
  width: 38%;
  position: absolute;
  transform-style: preserve-3d;
  will-change: transform;
  animation: underGrid 2.5s linear infinite;

}

.underHorizontal{
  height: 100%;
  width: 100%;
  transform: translateZ(20px);
}

.underVertical{
  height: 100%;
  width: 100%;
  transform: translateZ(20px);
}

.underHorizontalLine{
  height: 4px;
  width: 100%;
  background-color: rgb(255, 27, 179);
  will-change: transform;
  margin-top: -66%;
}

.underVerticalLine{
  height: 100%;
  width: 4px;
  background-color: rgb(255, 27, 179);
  will-change: transform;
  position: absolute;
}

/*****ANIMATION*****/
@keyframes underGrid{
  0%{ transform:translatey(0px)}
  100%{ transform:translatey(230px)}
}

@keyframes aboveGrid{
  0%{ transform:translatey(0px)}
  100%{ transform:translatey(148px)}
}


@keyframes sunglow{
  0%{
    box-shadow: 0px 0px 150px darkorange, inset -10px -10px 160px yellow, inset 20px 20px 170px white
  }

  100%{box-shadow: 0px 0px 250px darkorange, inset 20px 20px 280px yellow, inset -10px -10px 240px white}
}